@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<EmployeeManagement.Models.Employee>

<table class="table">
    <thead>
        <tr>
            <th>S.no</th>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Birth Date</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EmployeeManagement.Models.Employee item in Model)
        {
            int i = 0;
            i++;
           
            <tr>
                <td>@i</td>
                <td>@item.EmployeeId</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.PhoneNumber</td>
                <td>@item.BirthDate</td>
                <td>@item.Email</td>
                <td>@item.Salary</td>
                <td>@item.Department.Name</td>
                <td><a href="GetEmployeeById/@item.Id">View</a></td>
                <td><a href="RemoveEmployeeById/@item.Id">Remove</a></td>

            </tr>
        }

    </tbody>
</table>
